.sales {
    @include view(flex, normal, flex-start);
    width: 100vw;
    flex-direction: column;
    padding: 5rem;
    min-width: 270px;
}

.sales > div {
    @include view(flex, space-between, center);
    width: 100%;

    h1 {
        @include view(flex, normal, center);
        white-space: nowrap;
        gap: 1rem;
    }
}

.salesExportExcel {
    @include buttonStyle(fit-content, fit-content, $blue);
    padding: 0.5rem 1rem;
}

.salesSelectDate {
    font-size: 1rem;
    width: 11rem;
    padding: 0.3rem 1rem;
    margin: 1rem;
    border: 1px solid $lightwhite;
    border-radius: 1rem;
    text-align: center;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    &:focus,
    &:active,
    &:hover {
        border-color: $blue;
        outline: none;
    }
}

.salesBody {
    width: 100%;
    overflow-x: scroll;
}

.salesTable {
    width: 100%;
    border-spacing: 0;

    caption {
        font-size: 1.5rem;
        font-weight: 700;
    }
    thead > tr > th {
        background-color: $tableheader;
        border-top: 4px double black;
        border-bottom: 4px double black;
        text-align: center;
        margin: 0;
        font-size: 1.3rem;
    }
    tbody {
        text-align: center;
    }
}

.salesTableTotal > td {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-size: 1.1rem;
    text-align: center;
}

.salesTableRow:hover {
    background-color: $lightwhite;
}

@media (max-width: 800px) {
    .sales > div {
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .sales {
        padding: 5rem 1rem;
    }
    .salesTable > caption {
        font-size: 1.25rem;
    }
}

@media (max-width: 400px) {
    .sales > div > h1 {
        flex-direction: column;
    }
}
