.menuMain {
    padding-top: 0 !important;
}

.menu {
    @include view(flex, space-evenly, center);
    width: 100vw;
}

.menuInfo {
    @include view(flex, normal, center);
    flex-direction: column;
    gap: 1rem;

    h1 {
        @include view(flex, normal, center);
        font-size: 3rem;
    }
}

.menuInputImageP {
    @include view(flex, center, center);
    flex-direction: column;
}

.menuInputImage,
.menuInputNoImage,
.menuInputLabel {
    @include area(150px, 150px);
    border-radius: 50%;
    background-color: var(--lightgray);
    cursor: pointer;
}

.menuInputNoImage {
    @include view(flex, center, center);
    margin: 0;
}

.menuInputImageInput {
    @include view(flex, center, center);
    position: absolute;
    flex-direction: column;
    z-index: 1;

    P {
        position: absolute;
    }
}

.menuInputLabel {
    position: absolute;
    background-color: transparent !important;
}

.menuInputImageInputAbs {
    position: absolute;
}

.menuInputHide {
    opacity: 0;
}

.menuInputHideDisplay {
    display: none;
}

.menuInputTextarea {
    resize: none;
    height: 7rem !important;
}

.menuInput {
    @include area(20rem, 3.5rem);
    border: 1px solid var(--lightwhite);
    border-radius: 1rem;
    padding: 0.5rem;

    &:focus,
    &:active {
        outline: none;
    }
}

.menuAddBtns {
    display: flex;
    gap: 1rem;
}

.menuAddBtn {
    @include buttonStyle(13rem, fit-content, var(--blue), 1.5rem);
    padding: 0.5rem 1rem;
    margin: 2rem 0 2rem;
}

.menuBtnList {
    @include view(flex, center, center);
    gap: 0.5rem;
}

.menuReset {
    @include buttonStyle(3rem, 3rem, var(--lightwhite));
    padding: 0.5rem 0.5rem;

    &:hover {
        @include border_backcolor(var(--red));
        fill: var(--white);
    }
}

.menuList {
    display: flex;
    flex-direction: column;

    h2 {
        text-align: center;
    }
}

.menuItemCategory {
    @include view(flex, normal, center);
    width: 40rem;
    min-width: 260px;
    padding: 2rem 1rem 2rem 1rem;
    flex-direction: column;
    background-color: var(--lightgray);
    box-shadow: 10px 10px 24px -10px var(--gray);
}

.menuItemCategory > div {
    @include view(flex, normal, center);
    flex-direction: column;
    padding: 1rem;
    border: 1px solid var(--gray);
    border-radius: 1rem;
    overflow-y: scroll;
    max-height: 75vh;
    width: 100%;

    h3 {
        margin: 0.5rem 0;
    }
}

.menuItemSearch {
    width: 60%;
    margin: 0 1rem 1rem 1rem;
    font-size: 1.5rem;
    background-color: transparent;
    text-align: center;
    border: none;
    border-bottom: 1px solid var(--black);

    &:focus,
    &:active {
        outline: none;
    }
}

.menuItem,
.menuItemHeader {
    @include view(flex, normal, center);
    width: 100%;
}

.menuItemHeader {
    flex-direction: column;
}

.menuItemBtns {
    display: flex;
    width: 30%;
}

.menuItemBtn {
    @include view(flex, center, center);
    @include area(6rem, 2rem);
    padding: 0.3rem 0.5rem;
    border-radius: 1rem;
    color: var(--white);
    font-size: 0.7rem;
}

@each $index, $color in (1: var(--blue), 2: var(--red), 3: var(--darkslategray)) {
    .menuItemBtn:nth-child(#{$index}) {
        @include border_backcolor(#{$color});
    }
}

.menuItemNoExist {
    @include view(flex, center, center);
    @include area(100%, 5rem);
    font-size: 1rem;
    font-weight: 700;
}

.menuItemImage {
    @include area(75px, 75px);
}

.menuItemNamePrice {
    @include view(flex, flex-start);
    margin: 0.5rem 2rem;
    flex-direction: column;
    width: 100%;

    p {
        margin: 0;

        &:nth-child(1) {
            @include view(flex, normal, center);
            font-weight: 700;
            gap: 0.5rem;
        }
        &:nth-child(2) {
            font-size: 0.8rem;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            display: -webkit-box;
        }
        &:nth-child(3) {
            font-size: 1rem;
        }
    }
}

.menuItemSoldout {
    @include border_backcolor(var(--darkslategray));
    font-size: 0.7rem;
    border-radius: 1rem;
    color: var(--white);
    padding: 0.1rem 0.5rem;
}

.menuInputSelect {
    color: var(--black);
    appearance: none;
    cursor: pointer;
}

.menuInputRequire {
    @include animation("border_to_red 1s linear 3");
}

@media (max-width: 1024px) {
    .menu {
        height: fit-content;
        flex-direction: column;
        padding: 2rem;
    }
}

@media (max-width: 650px) {
    .menuItemBtns {
        width: 10rem;
    }
    .menuItemCategory {
        width: 100vw;
    }
    .menuItemNamePrice {
        margin: 1rem;
        p:nth-child(1) {
            font-size: 0.8rem;
        }
    }
}

@media (max-width: 600px) {
    .menuItemRateImage {
        object-view-box: inset(0 80% 80% 0);
    }
    .menuAddBtns {
        flex-direction: column;
    }
    .menuAddBtn {
        margin: 0;
    }
}

@media (max-width: 400px) {
    .menuInputSelect,
    .menuInput {
        width: 15rem;
    }
    .menuItemBtns {
        flex-direction: column;
        align-items: flex-end;
        width: 30%;
    }
    .menuItemBtn {
        @include area(3rem, 1.5rem);
        padding: 0.3rem 0;
        font-size: 0.3rem;
    }
    .menuItemNamePrice > p:nth-child(1),
    .menuItemNamePrice > p:nth-child(3) {
        font-size: 0.8rem;
    }
    .menuItemSearch,
    .menuItemCategory > div > h3 {
        font-size: 0.8rem;
    }
}

@media (max-width: 300px) {
    .menuItemNamePrice {
        margin: 1rem 0.3rem;
    }
    .menuAddBtn {
        font-size: 1rem;
        width: 8rem;
    }
}
