.login {
    padding: 10rem;
    min-height: calc(90vh - $headerHeight);
}

.loginInvert {
    filter: invert(1);
}

.login,
.loginForm {
    @include view(flex, center, center);
    flex-direction: column;
    gap: 2rem;

    input {
        @include area(20rem, 3rem);
        border: 1px solid var(--lightwhite);
        border-radius: 10px;
        padding: 0.5rem;

        &:focus,
        &:active {
            outline: none;
        }
        &:invalid {
            border-color: var(--red);
        }
    }

    button,
    a > button {
        @include buttonStyle(15rem, 3rem, var(--blue));
    }
}

.loginForKakao {
    max-width: 240px;
    width: 110%;
}

.loginFormSub {
    display: flex;
    gap: 1rem;
}

.loginFormFunc {
    cursor: pointer;
}

/* findPassword */
.findpasswordText {
    text-align: center;
    word-break: keep-all;
}

@media (max-width: 600px) {
    .login {
        padding: 5rem 2rem;
    }
}

@media (max-width: 400px) {
    .loginForm {
        input {
            width: 13rem;
        }
        button,
        a > button {
            width: 10rem;
        }
    }
    .loginFormFunc {
        font-size: 0.8rem;
    }
}
