.menu {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menuInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.menuInfo > h1 {
    display: flex;
    align-items: center;
}

.menuInputImageP {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menuInputImage,
.menuInputNoImage,
.menuInputLabel {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #e0e0e0;
    cursor: pointer;
}

.menuInputNoImage {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuInputImageInput {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.menuInputLabel {
    position: absolute;
    background-color: transparent !important;
}

.menuInputImageInputAbs {
    position: absolute;
}

.menuInputImageInput > P {
    position: absolute;
}

.menuInputHide {
    opacity: 0;
}

.menuInputHideDisplay {
    display: none;
}

.menuInputTextarea {
    resize: none;
    height: 7rem !important;
}

.menuInputFirstSelect {
    animation: Select-First 2s linear infinite;
}

@keyframes Select-First {
    0% {
        border-color: #eaeaea;
    }
    50% {
        border-color: red;
    }
    100% {
        border-color: #eaeaea;
    }
}

.menuInput {
    width: 20rem;
    height: 3.5rem;
    border: 1px solid #eaeaea;
    border-radius: 1rem;
    padding: 0.5rem;
}

.menuInput:focus,
.menuInput:active {
    outline: none;
}

.menuAddBtn {
    width: 13rem;
    padding: 0.5rem 1rem;
    border: 1px solid #0070f3;
    border-radius: 1rem;
    background-color: #0070f3;
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    margin: 2rem 0 3rem;
}

.menuList {
    display: flex;
    flex-direction: column;
}

.menuList > h2 {
    text-align: center;
}

.menuItemCategory {
    width: 40rem;
    min-width: 260px;
    padding: 2rem 1rem 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e0e0e0;
    box-shadow: 10px 10px 24px -10px grey;
}

.menuItemSearch {
    width: 60%;
    margin: 0 1rem 1rem 1rem;
    font-size: 1.5rem;
    background-color: transparent;
    text-align: center;
    border: none;
    border-bottom: 1px solid black;
}

.menuItemSearch:focus,
.menuItemSearch:active {
    outline: none;
}

.menuItemCategory > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: 1px solid gray;
    border-radius: 1rem;
    overflow-y: scroll;
    max-height: 75vh;
    width: 100%;
}

.menuItemCategory > div > h3 {
    margin: 0.5rem 0;
}

.menuItem,
.menuItemHeader {
    display: flex;
    align-items: center;
    width: 100%;
}

.menuItemHeader {
    flex-direction: column;
}

.menuItemBtn {
    width: 6rem;
    height: 2rem;
    padding: 0.3rem 0.5rem;
    border-radius: 1rem;
    color: white;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
}

.menuItemBtns {
    display: flex;
    width: 30%;
}

.menuItemBtn:nth-child(1) {
    border: 1px solid #0070f3;
    background-color: #0070f3;
}

.menuItemBtn:nth-child(2) {
    border: 1px solid #ff314b;
    background-color: #ff314b;
}

.menuItemBtn:nth-child(3) {
    border: 1px solid darkslategrey;
    background-color: darkslategrey;
}

.menuItemNoExist {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 700;
}

.menuItemImage {
    width: 75px;
    height: 75px;
}

.menuItemNamePrice {
    margin: 0.5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.menuItemSoldout {
    font-size: 0.7rem;
    border: 1px solid darkslategrey;
    border-radius: 1rem;
    background-color: darkslategrey;
    color: white;
    padding: 0.1rem 0.5rem;
}

.menuItemNamePrice > p {
    margin: 0;
}

.menuItemNamePrice > p:nth-child(1) {
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.menuItemNamePrice > p:nth-child(2) {
    font-size: 0.8rem;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}
.menuItemNamePrice > p:nth-child(3) {
    font-size: 1rem;
}

.menuItemPriceRate {
    display: flex;
}

.menuItemRate > p {
    margin: 0;
    padding: 0 0.2rem;
    line-height: 1rem;
}

.menuItemRate {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem;
}

.menuItemRateImage {
    object-fit: cover;
}
.menuItemRateImage1 {
    object-position: 0% 0%;
}
.menuItemRateImage2 {
    object-position: 0% 25%;
}
.menuItemRateImage3 {
    object-position: 0% 50%;
}
.menuItemRateImage4 {
    object-position: 0% 75%;
}
.menuItemRateImage5 {
    object-position: 0% 100%;
}

.menuInputSelect {
    appearance: none;
    cursor: pointer;
}

.menuInputRequire {
    animation: Select-First 1s linear;
    animation-iteration-count: 3;
}

@media (max-width: 1024px) {
    .menu {
        height: fit-content;
        flex-direction: column;
        padding: 2rem;
    }
}

@media (max-width: 650px) {
    .menuItemBtns {
        width: 10rem;
    }
    .menuItemCategory {
        width: 100vw;
    }
    .menuItemNamePrice > p:nth-child(1) {
        font-size: 0.8rem;
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 0;
    }
    .menuItemNamePrice {
        margin: 1rem;
    }
}

@media (max-width: 600px) {
    .menuItemRateImage {
        object-view-box: inset(0 80% 80% 0);
    }
}

@media (max-width: 400px) {
    .menuInputSelect,
    .menuInput {
        width: 15rem;
    }
    .menuItemBtns {
        flex-direction: column;
        align-items: flex-end;
        width: 30%;
    }
    .menuItemBtn {
        width: 3rem;
        height: 1.5rem;
        padding: 0.3rem 0;
        font-size: 0.3rem;
    }
    .menuItemNamePrice > p:nth-child(1) {
        font-size: 0.8rem;
    }
    .menuItemNamePrice > p:nth-child(3) {
        font-size: 0.8rem;
    }
    .menuItemSearch,
    .menuItemCategory > div > h3 {
        font-size: 0.8rem;
    }
}

@media (max-width: 300px) {
    .menuItemNamePrice {
        margin: 1rem 0.3rem;
    }
}
