.orderlist {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5rem;
}

.orderlistHeader > h1 {
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.orderlistHeader,
.orderlistSearch {
    display: flex;
    align-items: center;
}

.orderlistHeader {
    width: 100%;
    justify-content: space-between;
}

.orderlistExportExcel {
    border: 1px solid $blue;
    background-color: $blue;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

.orderlistSearch {
    gap: 1rem;
    margin: 1rem;
}

.orderlistSelectDate {
    font-size: 1rem;
    width: 11rem;
    padding: 0.3rem 1rem;
    border: 1px solid $lightwhite;
    border-radius: 1rem;
    text-align: center;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.orderlistSelectDate:focus,
.orderlistSelectDate:active,
.orderlistSelectDate:hover {
    border-color: $blue;
    outline: none;
}

.orderlistTable {
    width: 100%;
}

.orderlistBody {
    width: 100%;
    overflow-x: scroll;
}

.orderlistGrid,
.orderlistGridBody {
    width: 100%;
    min-width: 29.25rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.orderlistGrid > th {
    width: 100%;
    background-color: $tableheader;
    border-top: 4px double black;
    border-bottom: 4px double black;
    text-align: center;
    margin: 0;
    font-size: 1.3rem;
}

.orderlistGridBody {
    max-height: 3.5rem;
    border-top: 1px solid $lightwhite;
    border-bottom: 1px solid $lightwhite;
    cursor: pointer;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.orderlistGridBody > td {
    line-height: 3rem;
}

.orderlistGridInnerBody {
    line-height: 1rem !important;
}

.orderlistGridBody:hover {
    background-color: $lightwhite;
}

.orderlistGridBlank {
    margin: 0;
    grid-column: span 1;
}

.orderlistGridHide {
    border: 1px solid black;
    height: fit-content !important;
    width: 100%;
    text-align: center;
}
.orderlistGridShow {
    max-height: 20rem;
}

@media (max-width: 800px) {
    .orderlist {
        padding: 5rem 1rem;
    }
    .orderlistGrid > th {
        font-size: 1rem;
    }
    .orderlistGridBody > td {
        font-size: 0.8rem;
    }
    .orderlistSearch {
        gap: 0;
    }
}

@media (max-width: 700px) {
    .orderlistHeader,
    .orderlistSearch {
        flex-direction: column;
    }
}

@media (max-width: 400px) {
    .orderlistHeader > h1 {
        flex-direction: column;
    }
}
