.review {
    width: 100vw;
    min-width: 260px;
    padding: 3rem 10rem;
    display: flex;
    flex-direction: column;
}

.review > div,
.reviewListUserProfile {
    display: flex;
    gap: 3rem;
}

.reviewListUserProfile {
    width: 100%;
    gap: 2rem;
}

.reviewListManager {
    @include view(flex, flex-end, center);
    width: 100%;
    flex-direction: column;
}

.reviewListItem {
    width: 100%;
}

.reviewList,
.reviewInput {
    @include view(flex, normal, flex-start);
    width: 100%;
    flex-direction: column;
    max-height: 40rem;
    overflow-y: scroll;
    background-color: $lightwhite;
    padding: 2rem;
    box-shadow: 15px 15px 15px -15px gray;
}

.reviewListUserInfo {
    width: 100%;
    display: flex;
    flex-direction: column;

    div > p:nth-child(1),
    p:nth-child(1) {
        font-size: 1.3rem;
        font-weight: 700;
        margin: 0;
    }
    p > span {
        font-size: 0.8rem;
        font-weight: 400;
        margin: 0 0.5rem;
    }
}

.reviewListManagerTitle {
    @include view(flex, flex-start !important, center);
    gap: 1rem !important;
}

.reviewListReplyBtn {
    @include buttonStyle(20rem, fit-content, $blue);
    padding: 0.5rem 1rem;
    margin: auto;
}

.reviewListImage {
    padding: 0.3rem;
}

.reviewListReplyImage {
    rotate: 180deg;
}

.reviewInputArea {
    @include area(100%, 10rem);
    border: 2px solid $reviewinput;
    border-radius: 1rem 1rem 0 0;
    padding: 1rem;
    resize: none;

    &:focus,
    &:active {
        outline: none;
        border: 2px solid $blue;
    }
}

.reviewInputAreaSubmit {
    @include buttonStyle(100%, 3rem, $blue);
    border-radius: 0 0 1rem 1rem;
}

.reviewNoExist {
    @include view(flex, center, center);
    width: 100%;
    font-size: 1.3rem;
    font-weight: 700;
}

@media (max-width: 1300px) {
    .review {
        padding: 5rem 5rem;
    }
    .reviewListReplyBtn {
        width: 10rem;
    }
}

@media (max-width: 800px) {
    .review > div {
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .review {
        padding: 5rem 2rem;
    }
}

@media (max-width: 400px) {
    .review > div {
        gap: 1rem;
    }
    .reviewList,
    .reviewInput {
        padding: 1rem;
    }
    .reviewListImage {
        @include area(40px, 40px);
    }
    .reviewListReplyBtn {
        width: 5rem;
        font-size: 0.6rem;
    }
    .reviewListUserInfo > p:nth-child(1) {
        font-size: 1rem;
    }
    .reviewListUserInfo > p:nth-child(2) {
        font-size: 0.8rem;
    }
    .reviewListUserProfile {
        gap: 0;
    }
}

@media (max-width: 300px) {
    .review {
        padding: 5rem 1rem;
    }
    .reviewListUserInfo > p:nth-child(1) {
        display: flex;
        flex-direction: column;
        span {
            margin: 0;
        }
    }
    .reviewListImage {
        @include area(30px, 30px);
    }
}
