.store {
    display: flex;
    justify-content: center;
    gap: 10rem;
}

/* Section 1. Store Info & Input */
.storeInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.storeInfo > h1 {
    font-size: 3rem;
    font-weight: 700;
}

.storeUseButton {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 1rem;
}

.storeUseButton > p {
    width: 22rem;
    position: absolute;
    font-size: 0.7rem;
    transform: translate(40px, 31px);
    display: flex;
    justify-content: flex-start;
}

.storeInput {
    width: 20rem;
    height: 3.5rem;
    border: 1px solid #eaeaea;
    border-radius: 1rem;
    padding: 0.5rem;
}

.storeType.storeRequire,
.storeInput.storeRequire {
    animation: Not-Write 1s linear;
    animation-iteration-count: 3;
}

@keyframes Not-Write {
    0% {
        border-color: #eaeaea;
    }
    50% {
        border-color: red;
    }
    100% {
        border-color: #eaeaea;
    }
}

.storeInput:focus,
.storeInput:active {
    outline: none;
}

.storeInputButton,
.storeButton {
    height: 3.5rem;
    display: flex;
    justify-content: center;
}

.storeInputButton {
    width: 4rem;
    position: absolute;
    padding: 0.3rem;
    border: 1px solid #eaeaea;
    border-radius: 0 1rem 1rem 0;
    background-color: #eaeaea;
}

.storeInputButton.storeRequireAddBtn {
    animation: Not-Write-addBtn 1s linear;
    animation-iteration-count: 3;
}

@keyframes Not-Write-addBtn {
    0% {
        border-top-color: #eaeaea;
        border-right-color: #eaeaea;
        border-bottom-color: #eaeaea;
    }
    50% {
        border-top-color: red;
        border-right-color: red;
        border-bottom-color: red;
    }
    100% {
        border-top-color: #eaeaea;
        border-right-color: #eaeaea;
        border-bottom-color: #eaeaea;
    }
}

.storeCategoryBlocks {
    width: 20rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.storeCategoryBlock {
    height: 2rem;
    padding: 1rem;
    border: 1px solid #eaeaea;
    border-radius: 1rem;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.storeCategoryBlock:hover {
    background-color: #ff314b;
    color: white;
}

.storeType {
    width: 20rem;
    display: flex;
    align-items: center;
    border: 1px solid #eaeaea;
    border-radius: 1rem;
}

.storeType > button {
    width: 100%;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
    border: 1px solid transparent;
}

.storeTypeActive,
.storeType > button:hover {
    border: 1px solid #0070f3;
    background-color: #0070f3;
    color: white;
}

.storeType > button:nth-child(1) {
    border-radius: 1rem 0 0 1rem;
}
.storeType > button:nth-child(2) {
    border-radius: 0 1rem 1rem 0;
}

.storeType > button > p:nth-child(1) {
    font-size: 0.8rem;
}
.storeType > button > p:nth-child(2) {
    font-size: 1.3rem;
}

.storeButton {
    width: 13rem;
    padding: 0.5rem 1rem;
    border: 1px solid #0070f3;
    border-radius: 1rem;
    background-color: #0070f3;
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    margin: 2rem 0 3rem;
}

@media (max-width: 1200px) {
    .store {
        flex-direction: column;
    }
}

@media (max-width: 400px) {
    .storeInput {
        width: 13rem;
    }
    .storeUseButton > p {
        width: 12rem;
        transform: translate(-7px, 45px);
    }
    .storeCategoryBlocks {
        width: 14rem;
    }
    .storeCategoryBlock {
        font-size: 0.7rem;
        padding: 0.5rem 0.7rem;
    }
}
