.store {
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 10rem;
    padding-top: 0 !important;
}

/* Section 1. Store Info & Input */
.storeInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.storeInfo > h1 {
    font-size: 3rem;
    font-weight: 700;
}

.storeUseButton {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.storeUseButton > p {
    width: 100%;
    font-size: 0.7rem;
    padding-left: 8px;
    margin-top: 6px;
    margin-bottom: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.storeInput {
    width: 20rem;
    height: 3.5rem;
    border: 1px solid $lightwhite;
    border-radius: 1rem;
    padding: 0.5rem;
}

.storeType.storeRequire,
.storeInput.storeRequire {
    animation: Not-Write 1s linear;
    animation-iteration-count: 3;
}

@keyframes Not-Write {
    0% {
        border-color: $lightwhite;
    }
    50% {
        border-color: $red;
    }
    100% {
        border-color: $lightwhite;
    }
}

.storeInput:focus,
.storeInput:active {
    outline: none;
}

.storeType {
    width: 20rem;
    display: flex;
    align-items: center;
    border: 1px solid $lightwhite;
    border-radius: 1rem;
}

.storeType > button {
    width: 100%;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
    border: 1px solid transparent;
}

.storeTypeActive,
.storeType > button:hover {
    border: 1px solid $blue;
    background-color: $blue;
    color: white;
}

.storeType > button:nth-child(1) {
    border-radius: 1rem 0 0 1rem;
}
.storeType > button:nth-child(2) {
    border-radius: 0 1rem 1rem 0;
}

.storeType > button > p:nth-child(1) {
    font-size: 0.8rem;
}
.storeType > button > p:nth-child(2) {
    font-size: 1.3rem;
}

.storeButton {
    width: 13rem;
    height: 3.5rem;
    padding: 0.5rem 1rem;
    border: 1px solid $blue;
    border-radius: 1rem;
    background-color: $blue;
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    margin: 2rem 0 3rem;
}

@media (max-width: 1200px) {
    .store {
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .storeInfo > h1 {
        font-size: 1.5rem;
    }
}

@media (max-width: 400px) {
    .storeInput {
        width: 13rem;
    }
    .storeUseButton > p {
        width: 12rem;
        transform: translate(-7px, 0px);
    }
    .storeCategoryBlock {
        font-size: 0.7rem;
        padding: 0.5rem 0.7rem;
    }
    .storeType {
        width: 14rem;
    }
    .storeType > button > p:nth-child(2) {
        font-size: 1rem;
    }
}
