/* Section 6 - Submit */
.homeSubmit {
    @include view(flex, center);
    width: 100vw;
    margin-top: 3rem;
    padding-bottom: 3rem;
}

.homeSubmitButton {
    @include buttonStyle(80vw, fit-content, var(--blue), 2rem);
    font-weight: 700;
    padding: 2rem 5rem;
    transition: scale 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
        scale: 1.05;
    }
}

@media (max-width: 1024px) {
    .homeSubmitButton {
        font-size: 2rem;
    }
}

@media (max-width: 650px) {
    .homeSubmitButton {
        font-size: 1.5rem;
        padding: 1rem 2.5rem;
    }
}

@media (max-width: 500px) {
    .homeSubmitButton {
        font-size: 1rem;
        padding: 1rem 2rem;
    }
}

@media (max-width: 400px) {
    .homeSubmitButton {
        width: 100vw;
    }
}
