/* Section 5 - Strongth */
.homeStrongth {
    width: 100vw;
    align-items: center;
}

.homeStrongth,
.homeStrongthCard,
.homeStrongthSub {
    @include view(flex, center);
}

.homeStrongthCard {
    min-width: 15rem;
    gap: 5rem;
    align-items: center;
    padding: 3rem;
    border: 1px solid var(--lightwhite);
    border-radius: 1rem;
    box-shadow: 15px 13px 22px -7px var(--gray);
}

.homeStrongthSub {
    flex-direction: column;

    &:first-child {
        align-items: center;
    }
    &:last-child {
        gap: 5rem;
    }
    li {
        list-style: none;
        border: 1px solid var(--lightwhite);
        border-radius: 1rem;
        padding: 1rem;
        box-shadow: 11px 10px 23px -14px var(--gray);
    }
}

@media (max-width: 1024px) {
    .homeStrongth {
        gap: 1rem;
    }
    .homeStrongthSub:last-child {
        gap: 2rem;
    }
    .homeStrongthLogo {
        @include area(10rem, 10rem);
    }
    .homeStrongthSub > h2 {
        font-size: 1.2rem;
    }
}

@media (max-width: 650px) {
    .homeStrongth {
        height: fit-content;
    }
    .homeStrongthCard {
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .homeStrongthCard {
        gap: 0;
    }
}

@media (max-width: 400px) {
    .homeStrongth {
        padding: 0 1rem;
    }
    .homeStrongth,
    .homeStrongthSub:last-child {
        gap: 0;
    }
    .homeStrongthCard {
        padding: 2rem 1.2rem;
    }
    .homeStrongthLogo {
        @include area(5rem, 5rem);
    }
    .homeStrongthSub > li {
        h3 {
            font-size: 1rem;
        }
        p {
            font-size: 0.8rem;
        }
    }
}
