/* Section 1 - Intro */
.homeInto {
    @include view(flex, center);
    @include area(100vw, 100vh);
    min-height: 10rem;
    gap: 1rem;
    align-items: center;
    padding: 0 3rem;
    transition: height 0.7s ease-in-out, padding-top 0.7s ease-in-out;
}

.homeIntroSub {
    @include view(flex, center);
    flex-direction: column;
    line-height: 4rem;
    font-size: 2rem;

    * {
        margin: 0;
    }
    h1 {
        font-weight: 700;
        word-break: keep-all;
    }
}

.homeIntroImage,
.homeIntroP,
.homeIntroH1 {
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    opacity: 0;
}

.homeIntroImage {
    transform: translateX(-10%);
}
.homeIntroP {
    transform: translateY(10%);
    span {
        color: var(--red);
    }
}
.homeIntroH1 {
    transform: translateY(-10%);
    span {
        color: var(--blue);
    }
}

@for $i from 1 through 3 {
    .homeShow#{$i} {
        opacity: 1;
        transform: if(#{$i} == 1, translateX(0%), translateY(0%));
    }
}

@media (max-width: 650px) {
    .homeIntroImage {
        @include area(7.5rem, 7.5rem);
    }
    .homeIntroP {
        font-size: 1.2rem;
        line-height: 2rem;
    }
    .homeIntroH1 {
        font-size: 2rem;
        line-height: 3rem;
    }
}

@media (max-width: 500px) {
    .homeInto {
        flex-direction: column;
    }
    .homeIntroImage {
        @include area(6rem, 6rem);
    }
    .homeIntroP {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .homeIntroH1 {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

@media (max-width: 400px) {
    .homeIntroH1 {
        font-size: 1.2rem;
    }
}
