/* Section 5 - Strongth */
.homeStrongth {
    width: 100vw;
    align-items: center;
}

.homeStrongth,
.homeStrongthCard,
.homeStrongthSub {
    @include view(flex, center);
}

.homeStrongthCard {
    min-width: 15rem;
    gap: 5rem;
    align-items: center;
    padding: 3rem;
    border: 1px solid $lightwhite;
    border-radius: 1rem;
    box-shadow: 15px 13px 22px -7px grey;
}

.homeStrongthSub {
    flex-direction: column;

    &:first-child {
        align-items: center;
    }
    &:last-child {
        gap: 5rem;
    }
    li {
        list-style: none;
        border: 1px solid $lightwhite;
        border-radius: 1rem;
        padding: 1rem;
        box-shadow: 11px 10px 23px -14px grey;
    }
}
