/* Section 2 - Whitebox */
.homeWhitebox > * {
    height: 17rem;
}
.homeWhiteboxBackground {
    width: 100vw;
    background-color: var(--background-item);
    box-shadow: 0px 0px 30px -15px var(--gray);
}

.homeWhiteboxItems {
    @include view(flex, normal, center);
    width: 100vw;
    position: absolute;
}

.homeWhiteboxLeft {
    @include view(flex, space-evenly, center);
    @include area(60%, 17rem);
    background-color: var(--white);
    border-radius: 0 10rem 10rem 0;
    box-shadow: 10px 10px 30px -15px var(--gray);
}

.homeWhiteboxRight {
    @include view(flex, center);
    width: 40%;
    color: var(--disable);
}

.homeWhiteboxItem {
    @include view(flex, center);
    flex-direction: column;

    div {
        font-size: 2rem;
    }
}

.homeWhiteboxItemHighlight {
    color: var(--blue);
    font-weight: 700;
}

.homeWhiteboxDown {
    @include area(3rem, 3rem);
    vertical-align: middle;
    fill: currentColor;
    overflow: hidden;
    cursor: pointer;
}

@media (max-width: 800px) {
    .homeWhitebox > * {
        height: 28rem;
    }
    .homeWhiteboxItems {
        flex-direction: column;
    }
    .homeWhiteboxLeft {
        width: 100%;
        border-radius: 0 0 10rem 10rem;
        flex-direction: column;
    }
    .homeWhiteboxRight {
        @include area(100%, 11rem);
    }
}

@media (max-width: 650px) {
    .homeWhitebox > * {
        height: 26rem;
    }
    .homeWhiteboxLeft {
        height: 15rem;
    }
    .homeWhiteboxRight {
        height: 10rem;
    }
}

@media (max-width: 500px) {
    .homeWhiteboxItem > *,
    .homeWhiteboxItem > div,
    .homeWhiteboxItemHighlight {
        font-size: 1.1rem;
    }
}

@media (max-width: 400px) {
    .homeWhiteboxItem > *,
    .homeWhiteboxItem > div,
    .homeWhiteboxItemHighlight {
        font-size: 0.9rem;
    }
}
