.orderlist {
    @include view(flex, normal, flex-start);
    width: 100vw;
    flex-direction: column;
    padding: 5rem;
}

.orderlistHeader,
.orderlistSearch {
    @include view(flex, normal, center);
}

.orderlistHeader {
    width: 100%;
    justify-content: space-between;

    h1 {
        @include view(flex, normal, center);
        white-space: nowrap;
        gap: 1rem;
    }
}

.orderlistExportExcel {
    @include buttonStyle(fit-content, fit-content, var(--blue));
    padding: 0.5rem 1rem;
}

.orderlistSearch {
    gap: 1rem;
    margin: 1rem;
}

.orderlistSelectDate {
    font-size: 1rem;
    width: 11rem;
    padding: 0.3rem 1rem;
    border: 1px solid var(--lightwhite);
    border-radius: 1rem;
    text-align: center;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    &:focus,
    &:active,
    &:hover {
        border-color: var(--blue);
        outline: none;
    }
}

.orderlistTable {
    width: 100%;
}

.orderlistBody {
    width: 100%;
    overflow-x: scroll;
}

.orderlistGrid,
.orderlistGridBody {
    @include view(grid, center, center);
    text-align: center;
    width: 100%;
    min-width: 29.25rem;
    grid-template-columns: repeat(3, 1fr);

    th {
        width: 100%;
        background-color: var(--tableheader);
        border-top: 4px double var(--black);
        border-bottom: 4px double var(--black);
        text-align: center;
        margin: 0;
        font-size: 1.3rem;
    }
}

.orderlistGridBody {
    border-top: 1px solid var(--lightwhite);
    border-bottom: 1px solid var(--lightwhite);
    overflow: hidden;
    transition: height 0.5s ease-in-out;

    td {
        line-height: 3rem;
    }
    &:hover {
        background-color: var(--lightwhite);
    }
}

.orderlistGridItem {
    margin: 0;
    line-height: 2rem;
}

.orderlistDetails {
    cursor: pointer;
    max-height: 3.5rem;
    transition: max-height 0.5s ease-in-out;

    &[open] {
        max-height: 100vh;
    }
}

.orderlistDetailsHeader {
    display: none;
}

@media (max-width: 800px) {
    .orderlist {
        padding: 5rem 1rem;
    }
    .orderlistGrid > th {
        font-size: 1rem;
    }
    .orderlistGridBody > td {
        font-size: 0.8rem;
    }
    .orderlistSearch {
        gap: 0;
    }
}

@media (max-width: 700px) {
    .orderlistHeader,
    .orderlistSearch {
        flex-direction: column;
    }
}

@media (max-width: 400px) {
    .orderlistHeader > h1 {
        flex-direction: column;
    }
}
