.footer,
.footerSub {
    display: flex;
    gap: 0.8rem;
    justify-content: center;
    align-items: flex-start;
}

.footer {
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid $lightwhite;
    font-size: 0.8rem;
}

.footerLink {
    transition: color 0.3s ease-in-out;
    border: 1px solid transparent;
    outline: none;
}

.footerLink:hover {
    color: $blue;
}

.footerLink:focus,
.footerLink:active {
    color: $blue;
    border: 1px solid $blue;
    border-radius: 1rem;
}

.footerSubMaker {
    display: flex;
    gap: 0.8rem;
}

@media (max-width: 700px) {
    .footerSubMaker {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }
}

@media (max-width: 600px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }
    .footerSub:first-child {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: start;
    }
    .footerSub:nth-child(2) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: end;
    }
    .footerSubMaker {
        grid-template-columns: 1fr;
        justify-items: start;
    }
}

@media (max-width: 300px) {
    .footerSub {
        column-gap: 0.5rem;
        row-gap: 0.5rem;
        font-size: 0.5rem;
    }
    .footerSubMaker {
        gap: 0rem;
    }
}
