.footer,
.footerSub {
    display: flex;
    gap: 0.8rem;
    justify-content: center;
    align-items: center;
}

.footer {
    flex-direction: column;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    font-size: 0.8rem;
}

.footerLink {
    transition: color 0.3s ease-in-out;
    border: 1px solid transparent;
    outline: none;
    padding: 0.3rem;
}

.footerLink:hover {
    color: #0070f3;
}

.footerLink:focus,
.footerLink:active {
    color: #0070f3;
    border: 1px solid #0070f3;
    border-radius: 1rem;
}

@media (max-width: 600px) {
    .footerSub:first-child {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
    .footerSub:nth-child(2) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
    }
}

@media (max-width: 300px) {
    .footerSub {
        column-gap: 0rem;
        row-gap: 0.5rem;
        font-size: 0.5rem;
    }
}
