.headerLeft,
.headerRight,
.headerLogo,
.headerItems {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.headerLeft {
    display: flex;
}

.headerRight {
    display: flex;
}

.headerItems {
    list-style: none;
}

.headerItems > a {
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 0.7rem 1rem;
    font-weight: 700;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.headerLeft > a:focus,
.headerLeft > a:focus-visible,
.headerLeft > a:active,
.headerItems > a:hover,
.headerItems > a:focus,
.headerItems > a:active {
    color: #0070f3;
    border-color: #0070f3;
    outline: none;
}

.headerLogoText {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    line-height: 1.2rem;
}

.headerMobileMenu {
    display: none;
}

.headerNavClose,
.headerNavList {
    display: flex;
    padding: 1rem;
}

.headerNavClose > button > svg {
    rotate: 180deg;
}

.headerNavList > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.headerNavList > div > hr {
    width: 100%;
}

.headerNavList > * {
    list-style: none;
}

.headerProfile {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.5rem !important;
}

@media (max-width: 800px) {
    .headerItems {
        display: none;
    }

    .headerMobileMenu {
        display: flex;
    }
}
