.footer,
.footerSub {
    @include view(flex, center, flex-start);
    gap: 0.8rem;
    transition: color 0s ease-in-out !important;
}

.footer {
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid var(--lightwhite);
    font-size: 0.8rem;
    background-color: var(--white);
    color: var(--black);
    transition: background-color 0.7s ease-in-out, color 0s ease-in-out !important;
}

.footerLink {
    border: 1px solid transparent;
    outline: none;

    &:hover {
        color: var(--blue);
    }
    &:focus,
    &:active {
        color: var(--blue);
        border: 1px solid var(--blue);
        border-radius: 1rem;
    }
}

.footerSubMaker {
    display: flex;
    gap: 0.8rem;
    transition: color 0s ease-in-out !important;
}

@media (max-width: 700px) {
    .footerSubMaker {
        @include view(grid, center);
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 600px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }
    @for $i from 1 through 2 {
        .footerSub:nth-child(#{$i}) {
            @if #{$i} == "1" {
                justify-items: start;
            } @else {
                justify-items: end;
            }
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
    .footerSubMaker {
        grid-template-columns: 1fr;
        justify-items: start;
    }
}

@media (max-width: 300px) {
    .footerSub {
        column-gap: 0.5rem;
        row-gap: 0.5rem;
        font-size: 0.5rem;
    }
    .footerSubMaker {
        gap: 0rem;
    }
}
