.modalBackground {
    @include view(flex, center, center);
    @include area(100vw, 100vh);
    z-index: 1000;
    background-color: #00000050;
    position: fixed;
    left: 0;
    top: 0;
    padding: 0;
}

.modal {
    @include view(flex, center, flex-start);
    min-width: 15rem;
    width: 60vw;
    position: fixed;
    flex-direction: column;
    border-radius: 1rem;
    background-color: white;

    h1 {
        width: 100%;
        padding: 2rem;
        margin: 0;
        background-color: lightgray;
        border-radius: 1rem 1rem 0 0;
    }
}

.modalBody,
.modalBtn {
    padding: 1rem 2rem;
}

.modalBody,
.modalBody > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    label > input {
        margin: 0 1rem;
    }
    p:nth-child(2) {
        margin-bottom: 0;
    }
    p:nth-child(3) {
        margin-top: 0;
        font-size: 0.9rem;
    }
}

.modalCheckboxRow {
    @include view(flex, normal, center);
    margin: 0.3rem 0;
}

.modalCheckbox {
    display: none;
}

.modalLabel {
    @include view(flex, center, center);
    @include area(1rem, 1rem);
    margin: 0 1rem;
    border: 1px solid gray;
    border-radius: 50%;
}

.modalTextarea {
    resize: none;
    height: 10rem;
    padding: 1rem;
    margin: 1rem;
}

.modalPassword {
    padding: 0 2rem 2rem 2rem;

    p {
        font-weight: 700;
    }
    input {
        @include area(20rem, 2rem);
        padding: 1rem;
        border: 1px solid $lightwhite;
        border-radius: 1rem;
    }
}

.modalBtn {
    @include view(flex, space-evenly);
    width: 100%;

    button {
        @include view(flex, center);
        width: 15rem;
        border-radius: 1rem;
        color: white;
        padding: 0.5rem 1rem;
        font-size: 1.2rem;
    }
    button:nth-child(1) {
        @include border_backcolor($blue);
    }
    button:nth-child(2) {
        @include border_backcolor($red);
    }
}

@media (max-width: 700px) {
    .modal {
        width: 80vw;
    }
}

@media (max-width: 500px) {
    .modalCheckboxRow {
        font-size: 0.8rem;
    }
    .modalBtn > button:nth-child(1),
    .modalBtn > button:nth-child(2) {
        font-size: 0.75rem;
    }
}

@media (max-width: 400px) {
    .modal {
        width: 100vw;
    }
    .modalBody {
        padding: 1rem;
    }
}

@media (max-width: 300px) {
    .modalBody > h2 {
        font-size: 1rem;
    }
    .modalBody > p:nth-child(2),
    .modalBody > p:nth-child(3) {
        font-size: 0.8rem;
    }
    .modalCheckboxRow {
        font-size: 0.5rem;
    }
}
