.order {
    width: 100vw;
    min-height: 100vh;
    padding: 7rem 5rem;

    div {
        display: flex;
        justify-content: space-between;
        h1 {
            @include view(flex, normal, center);
            gap: 1rem;
            white-space: nowrap;
            margin: 0;
        }
    }
}

.order > div > h1 > button {
    @include buttonStyle(fit-content, 2rem, var(--blue), 0.8rem);
    color: var(--blue);
    background-color: var(--white);
    padding: 0.5rem 1rem;
}

.orderSoundActive {
    background-color: var(--blue) !important;
    color: var(--white) !important;
}

.orderSubText {
    font-size: 0.8rem;
}

.orderSection {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.orderCard {
    width: 20rem;
    max-height: 25rem;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid var(--lightwhite);
    border-radius: 1rem;
    box-shadow: 10px 10px 15px -15px var(--gray);

    h2 {
        margin: 0.3rem 0;
    }
}

.orderCardSlideIn {
    @include animation("slide_in .7s ease-in-out");
}

.orderCardLocate {
    @include view(flex, space-between);
    margin: 0.5rem 0;
}

.orderCardMenu {
    @include view(flex, normal, center);
    height: fit-content;

    p:nth-child(1) {
        width: 100%;
    }
    p:nth-child(2) {
        width: 4rem;
    }
}

.orderCardMenuTitle {
    font-size: 0.6rem;
    margin: 0;
    min-width: 1.5rem;
}

.orderCardMenuActive {
    text-decoration: line-through;
}

.orderCardClose {
    @include view(flex, center);
    @include border_backcolor(var(--blue));
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    color: var(--white);
    font-size: 1rem;
}

.orderCardTotal {
    @include view(flex, flex-end);
    font-size: 1.5rem;
}

.orderCardCheckbox {
    display: none;
}

.orderCardLabel {
    @include buttonStyle(2rem, 1.5rem, var(--red));
    cursor: pointer;
}

.orderCardLabelActive {
    @include border_backcolor(var(--blue));
}

@media (max-width: 400px) {
    .order {
        padding: 7rem 0;
        min-width: 15.625rem;
    }
    .orderCard {
        width: 100vw;
        min-width: 15.625rem;
    }
}
