/* Section 5 - Flow */
.homeFlow {
    @include view(flex, center, center);
    width: 100vw;
    padding: 7.5rem;
    flex-direction: column;
}

.homeFlowMiddle,
.homeFlowNormal {
    @include view(flex, center, center);
    @include area(100%, 100%);
}

.homeFlowReverse {
    @include view(flex, normal, center);
    @include area(100%, 100%);
    flex-direction: row-reverse;
}

.homeFlowItem {
    @include view(flex, space-evenly, center);
    @include area(100%, 100%);
    @include border_backcolor($lightwhite, white);
    padding: 2rem 1rem;
    flex-direction: column;
    border-radius: 1rem;
    min-width: 12.5rem;
    box-shadow: 10px 10px 15px -15px gray;
    transition: scale 0.3s ease-in-out, border-color 0.5s ease-in-out;

    &:hover {
        scale: 1.15;
        border-color: black;
    }
    p {
        padding: 0 1rem;
        word-break: keep-all;
        text-align: center;
        cursor: default;
    }
}

.homeFlowEdge,
.homeFlowVertline {
    background: rgba(0, 0, 0, 0.35);
    font-size: 0px;
    line-height: 0px;
    transition: width 0.6s ease-in-out;
}

.homeFlowEdge {
    @include area(0%, 2px);

    &.homeFlowEdgeActive {
        width: 100%;
    }
}

.homeFlowBlank {
    grid-column: span 1;
    width: 20%;
}

.homeFlowMiddle {
    height: 10rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    h1 {
        grid-column: span 3;
        margin: 0 auto;
        font-size: 2rem;
    }
}

.homeFlowVertline {
    @include area(2px, 0%);
    transition: height 0.6s ease-in-out;

    &.homeFlowVertlineActive {
        height: 100%;
    }
}

.homeFlowEdgeToLeft,
.homeFlowEdgeToRight {
    @include view(flex, normal, center);
    width: 100%;
}

.homeFlowEdgeToRight {
    justify-content: flex-start;
}

.homeFlowEdgeToLeft {
    justify-content: flex-end;
}

.homeFlowToBottom {
    @include view(flex, center);
    @include area(100%, 100%);
}
