/* Section 2 - Images */
.homeWhitebox > * {
    height: 17rem;
}
.homeWhiteboxBackground {
    width: 100vw;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 30px -15px grey;
}

.homeWhiteboxItems {
    width: 100vw;
    position: absolute;
    display: flex;
    align-items: center;
}

.homeWhiteboxLeft {
    width: 60%;
    height: 17rem;
    background-color: white;
    border: 1px solid #eaeaea;
    border-radius: 0 10rem 10rem 0;
    box-shadow: 10px 10px 30px -15px gray;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.homeWhiteboxRight {
    width: 40%;
    display: flex;
    justify-content: center;
    color: #bbbbbb;
}

.homeWhiteboxItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homeWhiteboxItem > div {
    font-size: 2rem;
}

.homeWhiteboxItemHighlight {
    color: #0070f3;
    font-weight: 700;
}

.homeWhiteboxDown {
    width: 3rem;
    height: 3rem;
    vertical-align: middle;
    fill: currentColor;
    overflow: hidden;
    cursor: pointer;
}
