/* Section 4 - Strongth */
.homeStrongth {
    height: 100vh;
    width: 100vw;
    align-items: center;
}

.homeStrongth,
.homeStrongthCard,
.homeStrongthSub {
    display: flex;
    justify-content: center;
}

.homeStrongthCard {
    min-width: 15rem;
    gap: 5rem;
    align-items: center;
    padding: 3rem;
    border: 1px solid #eaeaea;
    border-radius: 1rem;
    box-shadow: 15px 13px 22px -7px grey;
}

.homeStrongthSub {
    flex-direction: column;
}

.homeStrongthSub:first-child {
    align-items: center;
}

.homeStrongthSub:last-child {
    gap: 5rem;
}

.homeStrongthSub > li {
    list-style: none;
    border: 1px solid #eaeaea;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 11px 10px 23px -14px grey;
}
