.regiok {
    @include view(flex, center, center);
    @include area(100vw, calc(90vh - $headerHeight));
    min-width: 260px;
    flex-direction: column;
    padding: 1.5rem;
    z-index: 1;
    position: relative;

    * {
        color: var(--black);
    }
    h1 {
        font-size: 3rem;
    }
    p:nth-child(3) {
        text-align: center;
    }
}

.regiokFire {
    @include area(100vw, 100vh);
    position: absolute;
    top: 0;
}

.regiokMypage {
    @include buttonStyle(13rem, fit-content, var(--blue));
    padding: 0.5rem 1rem;
    margin: 1rem;
}

@media (max-width: 400px) {
    .regiok > h1 {
        font-size: 1.5rem;
    }
}
