.store {
    @include view(flex, center);
    width: 100vw;
    gap: 10rem;
    padding-top: 0 !important;
}

/* Section 1. Store Info & Input */
.storeInfo {
    @include view(flex, center, center);
    flex-direction: column;
    gap: 1.5rem;

    h1 {
        font-size: 3rem;
        font-weight: 700;
    }
}

.storeUseButton {
    @include view(flex, normal, center);
    flex-direction: column;

    p {
        @include view(flex, flex-start, center);
        width: 100%;
        font-size: 0.7rem;
        padding-left: 8px;
        margin-top: 6px;
        margin-bottom: 0;
    }
}

.storeInput {
    @include area(20rem, 3.5rem);
    border: 1px solid var(--lightwhite);
    border-radius: 1rem;
    padding: 0.5rem;

    &:focus,
    &:active {
        outline: none;
    }
}

.storeType,
.storeInput {
    &.storeRequire {
        @include animation("border_to_red 1s linear 3");
    }
}

.storeType {
    @include view(flex, normal, center);
    width: 20rem;
    border: 1px solid var(--lightwhite);
    border-radius: 1rem;

    button {
        width: 100%;
        flex-direction: column;
        padding: 1rem;
        text-align: center;
        border: 1px solid transparent;
        &:nth-child(1) {
            border-radius: 1rem 0 0 1rem;
        }
        &:nth-child(2) {
            border-radius: 0 1rem 1rem 0;
        }
        p:nth-child(1) {
            font-size: 0.8rem;
        }
        p:nth-child(2) {
            font-size: 1.3rem;
        }
    }
}

.storeTypeActive,
.storeType > button:hover {
    @include border_backcolor(var(--blue));
    & > p {
        color: white;
    }
}

.storeButton {
    @include buttonStyle(13rem, 3.5rem, var(--blue), 1.5rem);
    padding: 0.5rem 1rem;
    margin: 2rem 0 3rem;
}

@media (max-width: 1200px) {
    .store {
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .storeInfo > h1 {
        font-size: 1.5rem;
    }
}

@media (max-width: 400px) {
    .storeInput {
        width: 13rem;
    }
    .storeUseButton > p {
        width: 12rem;
        transform: translate(-7px, 0px);
    }
    .storeCategoryBlock {
        font-size: 0.7rem;
        padding: 0.5rem 0.7rem;
    }
    .storeType {
        width: 14rem;
        button > p:nth-child(2) {
            font-size: 1rem;
        }
    }
}
