$red: #ff314b;
$blue: #0070f3;
$lightgray: #e0e0e0;
$kakaosymbol: #3c1e1e;
$lightwhite: #eaeaea;
$darkwhite: #f9f9f9;
$disable: #bbbbbb;
$tableheader: #ccd1ff;
$reviewinput: #888;
$gray: gray;
$white: white;
$half-transparent: #00000050;
$black: black;
$darkslategray: darkslategray;

$headerHeight: 4.4rem;
