.categoryMain {
    padding-top: 0 !important;
}

.category {
    @include view(flex, center, center);
    width: 100vw;
    padding: 0 5rem;
    flex-direction: column;

    h1 {
        font-size: 3rem;
    }
}

.categoryUseButton {
    @include view(flex, flex-end, flex-end);
    margin-bottom: 1rem;
}

.categoryInputButton {
    @include border_backcolor($lightwhite);
    width: 4rem;
    position: absolute;
    padding: 0.3rem;
    border-radius: 0 1rem 1rem 0;

    &.categoryRequireAddBtn {
        @include animation("border_to_red_addBtn 1s linear 3");
    }
}

.categoryInput {
    @include area(40rem, 3.5rem);
    border: 1px solid $lightwhite;
    border-radius: 1rem;
    padding: 0.5rem;

    &.categoryRequire {
        @include animation("border_to_red 1s linear 3");
    }

    &:focus,
    &:active {
        outline: none;
    }
}

.categoryInputButton,
.categoryButton {
    @include view(flex, center, center);
    height: 3.5rem;
}

.categoryMenuList {
    width: 50vw;
    min-width: 260px;
    padding: 2rem;
    background-color: $lightgray;
    box-shadow: 10px 10px 24px -10px $gray;
    margin-top: 2rem;
    text-align: center;
}

.categoryMenuListInnerBox {
    border: 1px solid $black;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.categoryMenuListItem {
    @include view(flex, center, center);
    flex-direction: column;

    div {
        display: flex;
        gap: 1rem;

        button {
            @include buttonStyle(5rem, 2rem, $red);
            margin-bottom: 1rem;
            font-weight: 700;
        }
    }
}

.storeButtons {
    display: flex;
    gap: 1rem;
}

.storeButton {
    @include buttonStyle(13rem, 3rem, $blue);
    padding: 0.5rem 1rem;
    margin: 2rem 0 3rem;
}

@media (max-width: 800px) {
    .categoryInput {
        width: 20rem;
    }
    .categoryMenuList {
        width: 80vw;
    }
}

@media (max-width: 500px) {
    .category {
        padding: 3rem 2rem;
        h1 {
            font-size: 1.5rem;
        }
    }
    .storeButton {
        font-size: 1rem;
        width: 7rem;
    }
}

@media (max-width: 400px) {
    .categoryInput {
        width: 15rem;
    }
}
